html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


*{
    font-size: 62.5%;
    text-align:center;
    letter-spacing: 0.2rem;

}
 button{
     color:white;
     border: none;
     padding: 1rem 3.5rem;
     font-size: 1.5rem;
     border-radius: 1.3rem;
     margin: 5rem;
     font-family: 'Roboto Mono', monospace;

 }

 button.hover{
    background-color:white;
    border: none;
    padding: 1rem 3.5rem;
    font-size: 1.5rem;
    border-radius: 1.3rem;
    margin: 5rem;
    font-family: 'Roboto Mono', monospace;
 }

.button-one{
    background-color: #FF764E;
}

.button-one.hover{
    color: #FF764E;
}
.button-two{
    background-color: #5ed3eb;
}

.button-two.hover{
    color: #5ed3eb;
}

.button-three{
    background-color: #FFCD69;
}

.button-three.hover{
    color: #FFCD69;
}

.headerPhoto{
 width: 20rem;
 height: auto;
 border-radius:100%; 
 float: left;
 margin: 0 5rem;
}
h1 {
Text-align: center;
margin: 3rem;
font-size: 5rem;
font-family: 'Chelsea Market', cursive;
}

p{
text-align: center;
font-size: 1.5rem;
line-height: 1.5rem;
font-family: 'Roboto Mono', monospace;
}

.part-1{
    Width: 25rem;
    margin: 2rem auto;
    
}

.part-2{
    background-color: #DDB9A3;
    color:white;
    padding: 2rem;
    margin: 2rem;
}
.part-2 p{
    margin:initial;
}
.part-3 p{
    Width: 25rem;
    margin: 2rem auto;
}

.part-4 p{
    Width: 25rem;
    margin: 2rem auto;
}

.fire{
    width: 10rem;
    height: auto;
    margin: 2rem;
}

.camper{
    width: 10rem;
    height: auto;
    margin: 2rem;
}

.so-pretty{
    width: 100%;
    height:25rem;
    object-fit:cover;
    object-position: 100% 15%;
}

span{
    font-weight: bold;
}

footer{
    background-color: #F9E7DC;
}
